<!DOCTYPE html>
<html>
  <head>
    <title><%= settings.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= settings.title %></h1>
    <h2><%= photos.length %></h2>

    <div class="photo">
    <% photos.forEach(function (photo) { %>
      <div>
        <h2><%= photo.name %></h2>
        <img src="<%= photo.path %>" />
      </div>
    <%})%>
    </div>
  </body>
</html>
